<footer>
        <div class="container">            
            <a href="https://github.com/rama8810" target="_blank" aria-label="Visitar mi perfil de GitHub" class="btn-github">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x stack-bg"></i>                    
                    <i class="fa fa-github fa-2x fa-stack-1x stack-icon"></i>
                </span>
            </a>
            <a href="https://linkedin.com/in/rodolfo-andrés-meléndez-ardila" target="_blank" aria-label="Visitar mi perfil de LinkedIn" class="btn-linkedin">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x stack-bg"></i>
                    <i class="fa fa-linkedin fa-lg fa-stack-1x stack-icon"></i>
                </span>
            </a>                
        </div>
</footer>