footer {
    background-color: #212529;
    text-align: center;
    padding: 20px 0;
}

footer a {
    margin-right: 10px;
}

footer i {
    color: #101010;
}

footer i.fa-github:hover {
    color: #fff;
}

footer i.fa-linkedin-square:hover {
    color: #0A66C2;
}

@media screen and (max-width: 768px) {
    footer i.fa-github {
        color: #fff;
    }
    
    footer i.fa-linkedin-square {
        color: #0A66C2;
    }
}