footer {
    background-color: var(--color-dark-bg);
    text-align: center;
    padding: 20px 0;
}
footer a {
    margin-right: 10px;
}

/* --- Uso de Stacked Icons (Iconos Apilados) FontAwesome 4 para manejar múltiples colores --- */
/* --- 1. ESTADO NORMAL --- */
/* GitHub */
footer a.btn-github .stack-icon {
    color: var(--color-dark-bg); 
}
footer a.btn-github .stack-bg {
    color: var(--color-white); 
    transition: color 0.3s ease;
}
/* LinkedIn */
footer a.btn-linkedin .stack-icon {
    color: var(--color-linkedin); 
}
footer a.btn-linkedin .stack-bg {
    color: var(--color-white); 
    transition: color 0.3s ease;
}


/* --- 2. ESTADO HOVER --- */
/* GitHub */
footer a.btn-github:hover .stack-bg  {
    color: var(--color-dark-bg); 
}
footer a.btn-github:hover .stack-icon {
    color: var(--color-white); 
}

/* LinkedIn */
footer a.btn-linkedin:hover .stack-bg {
    color: var(--color-linkedin); 
}
footer a.btn-linkedin:hover .stack-icon {
    color: var(--color-white); 
}

/* --- 3. RESPONSIVE (Celulares) --- */
@media screen and (max-width: 1025px) {
    /* Forzamos los colores de hover porque en móvil no hay cursor */
    footer a.btn-github .stack-bg { color: var(--color-dark-bg); }
    footer a.btn-github .stack-icon { color: var(--color-white); }
    
    footer a.btn-linkedin .stack-bg { color: var(--color-linkedin); }
    footer a.btn-linkedin .stack-icon { color: var(--color-white); }
}