section#knowledge {
    color: #2d6d92;
    padding-bottom: 4vh;
}

section#knowledge p {
    color: #2d6d92;
}

.heading h2.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 6vh;
}

.heading h2,
.heading p {
    text-align: center;
}

section#knowledge .row {
    justify-content: center;
}

.skillArea {
    display: grid;
    place-content: center;
}

.skillArea h2 {
    font-size: 20px;    
    text-align: center;
    font-weight: bold;
}