section#knowledge {
    color: #2d6d92;
    padding-bottom: 4vh;
}

section#knowledge p {
    color: #2d6d92;
}

section#knowledge .row {
    justify-content: center;
}

.skillArea {
    display: grid;
    place-content: center;
}

.skillArea h2 {
    font-size: 20px;    
    text-align: center;
    font-weight: bold;
}