<section id="knowledge">
        <div class="heading">
            <h2 class="title">CONOCIMIENTOS</h2>
            <p>tecnologías principales</p>
        </div>
        <div class="container">
            <div translate="no" class="row">
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="60">60%</div>
                    <h2>MYSQL</h2>                    
                </div>                
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="60">60%</div>
                    <h2>HTML5-CSS3</h2>
                </div>
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="60">60%</div>
                    <h2>WORDPRESS</h2>
                </div>
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="50">50%</div>
                    <h2>ANGULAR</h2>
                </div>
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="50">50%</div>
                    <h2>PHP</h2>
                </div>
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="50">50%</div>
                    <h2>GNU/LINUX</h2>
                </div>
                <div class="skillArea col-md-4">
                    <div class="chart" data-percent="40">40%</div>
                    <h2>JAVASCRIPT</h2>
                </div>
            </div>      
        </div>        
</section>