/* Le da el tono más oscuro al recuadro de la sección activa y resalta el texto */
.navbar-nav .nav-link.active {
    background-color: var(--overlay-nav); /* El tono oscuro de fondo */
    border-radius: 5px; /* Bordes ligeramente redondeados (opcional, típico de Bootstrap) */
    color: var(--color-white) !important; /* Texto en blanco brillante para resaltar */
}

/* Empujar el bloque de enlaces del menú hacia la derecha en pantallas grandes */
@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-left: var(--menu-margin-left); 
    }
}