/* Le da el tono más oscuro al recuadro de la sección activa y resalta el texto */
.navbar-nav .nav-link.active {
    background-color: var(--overlay-nav); /* El tono oscuro de fondo */
    border-radius: 5px; /* Bordes ligeramente redondeados (opcional, típico de Bootstrap) */
    color: var(--color-white) !important; /* Texto en blanco brillante para resaltar */
}