<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand ms-md-3" href="#">Menu</a>
        <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="!isMenuCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="!isMenuCollapsed">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" [class.active]="activeSection === 'begin'" href="#begin" (click)="closeMenu()">INICIO</a></li>
                <li class="nav-item"><a class="nav-link" [class.active]="activeSection === 'aboutMe'" href="#aboutMe" (click)="closeMenu()">SOBRE MI</a></li>
                <li class="nav-item"><a class="nav-link" [class.active]="activeSection === 'knowledge'" href="#knowledge" (click)="closeMenu()">CONOCIMIENTOS</a></li>
                <li class="nav-item"><a class="nav-link" [class.active]="activeSection === 'portfolio'" href="#portfolio" (click)="closeMenu()">PORTAFOLIO</a></li>
                <li class="nav-item"><a class="nav-link" [class.active]="activeSection === 'contact'" href="#contact" (click)="closeMenu()">CONTACTO</a></li>
            </ul>
        </div>     
    </div>           
</nav>