<section id="begin">
    <!--banner start-->        
    <header>
        <!--Translate Button-->
        <a href="https://www-ingrama-co.translate.goog/?_x_tr_sl=es&_x_tr_tl=en&_x_tr_hl=es&_x_tr_pto=wapp" class="btn-translate" style="display: block;">
            <img src="../../assets/images/icon-translate32px.svg" alt="Traducir página">
        </a>            
        <div class="heading">                
            <h1 translate="no">RODOLFO A. MELÉNDEZ A.</h1>
            <h2>Ingeniero de Sistemas - Desarrollador Web.</h2>
        </div>
    </header>
    <!--banner end-->        
</section>
