section#contact {
    background: #2d6d92;
    color: #fff;
    padding-bottom: 60px;
}

.heading h2.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 6vh;
}

.heading h2,
.heading p {
    text-align: center;
}

section#contact .heading {
    padding-bottom: 20px;
}

section#contact a {
    color: #fff;
    text-decoration: none;
}

section#contact a:hover {
    color:#212529;
    text-decoration: none;
}

section#contact .e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}

/*----------------------------------------------------
 Form conForm
------------------------------------------------------*/
#conForm input{
	background: #fff;
	color:#434b53;
	padding:10px 20px;
	border:none;    
	margin-bottom:20px;
	outline:none;
	font-style:italic;
    font-weight: bold;
}

#conForm input::placeholder {
    color: rgba(33,37,41,0.45);
}

#conForm input.name {
	margin-right: 3%;
}

#conForm textarea{
	background: #fff;
	color:#434b53;
	padding:10px 20px;
	border:none;
	margin-bottom:20px;
	outline:none;
	height:100px;
	font-style:italic;
    font-weight: bold;
}

#conForm textarea::placeholder {
    color: rgba(33,37,41,0.45);
}

#conForm .submitBnt{
	background:#212529;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size:16px;
	font-weight:700;
	text-align:center;
	float:right;
    margin-left: 3%;
}

#conForm .submitBnt:hover {
	background:#f5534b;
}

.icon-spacing {
    margin-right: 0.5rem; /* Usar rem o em es mejor para la accesibilidad que los px */
}

@media screen and (max-width: 576px) {
    section#contact {
        padding-bottom: 40px;
    }
    #conForm .submitBnt{
        margin-left: 0;
    }
    .contactInfo, .writeMe {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 576px) {
    #conForm input.col-sm-6 {
        width: 48.5%;
    }
}

@media screen and (min-width: 992px) {
    #conForm input.col-lg-6 {
        width: 48.5%;
    }
}