<section id="contact">
        <div class="heading">
            <h2 class="title">CONTACTO</h2>
            <p>Puede escribirme en el siguiente formulario.</p>
        </div>
        <div class="container">
            <div class="contactDetails row">
                <div class="contactInfo col-12 col-md-4">
                    <h3>INFORMACIÓN DE CONTACTO</h3>                   
                    <p><i class="fa fa-mobile fa-lg"></i> +57 311 826 8985</p>
                    <p><i class="fa fa-envelope-o icon-spacing"></i> 
                        <a href="mailto:ing.rama88@gmail.com?Subject=Contact from pag. web">
                            <span class="e-mail" data-user="88amar.gni" data-website="moc.liamg">
                    </span></a></p>
                    <p><i class="fa fa-link"></i>
                        <a href="https://www.ingrama.co/#begin" target="_blank"> www.ingrama.co                            
                    </a></p>
                </div>
                <div class="writeMe col-md-6 col lg-8">
                    <h3>ESCRÍBEME!</h3>
                    <form action="https://formsubmit.co/a9f12f8d55c809486940eec840a95b1a" method="POST" id="conForm" autocomplete="on">
                    <!--form depends on https://formsubmit.co service for send to my e-mail-->
                        <div class="row">
                            <input name="name" type="text" placeholder="Nombre..." class="name col-12 col-lg-6" required>
                            <input name="email" type="email" placeholder="Email..." class="col-12 col-lg-6" required>
                            <textarea name="comments" id="comments" cols="" rows="" placeholder="Mensaje..." class="col-12" required></textarea>
                            <input name="verifica" id="verifica" type="number" class="col-12 col-sm-6" placeholder="Cuanto es 12+20?" required>
                            <input type="submit" id="submit" name="send" class="submitBnt col-sm-6" value="Enviar">
                            <input type="hidden" name="_next" value="https://www.ingrama.co/#contact">
                            <div id="simple-msg"></div>
                        </div>                        
                    </form>
                </div>           
            </div> 
        </div>
</section>