section#aboutMe {
    background-color: #2d6d92  ;
    color: #fff;
    padding-bottom: 6vh;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
    min-width: 100%;
}

section#aboutMe .container{
    max-width: 1100px;
}

.heading h2.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
    padding-top: 6vh;
}

.heading h2,
.heading p {
    text-align: center;
}

.bntDownload {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: #212529;
    padding: 16px 22px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-style:italic;
}

div#imagenYo{
    display: grid;    
    place-items: center;
}

.img-circle {
    border-radius: 50%;
    height: 40vh; 
}