<section id="aboutMe">
        <div class="heading">
            <h2 class="title">¿SOBRE MI?</h2>
            <p id="sub">una pequeña introducción...</p>
        </div>
        <div class="container">
            <div class="row">
                <div id="descripcion" class="col-12 col-md-8">
                    <h3>Rodolfo Andrés Meléndez Ardila<br> Ingeniero de Sistemas - Programador Web Colombiano.</h3>                    
                    <p>Amante de la tecnología con experiencia en desarrollo de software, bases de datos, 
                        programación web, WordPress, Java, PHP, JavaScript, SQL, HTML, CSS y Angular.</p> <br>
                    <h3>Servicios</h3>
                    <p>Asesoría, Desarrollo y edición de páginas web(Angular, Wordpress, estáticas), Administrador Servidores Hosting y DNS, Hardware Gaming o de acuerdo a su profesión o necesidad.</p>
                    <a href="https://drive.google.com/file/d/1zQeRBVaCe_Qi7ONl8eN1kEBGlvk9Hd2U/view?usp=drive_link" target="_blank" class="bntDownload">Descargar Curriculum</a>
                </div>
                <div id="imagenYo" class="col-md-4">
                    <img src="/images/rodolfoM.webp" alt="Fotografía de perfil de Rodolfo Meléndez, Ingeniero de Sistemas" class="img-circle" loading="lazy">
                </div>
            </div>
        </div>         
</section>